*{
    margin: 0;
    padding: 0;
}
:root{
    --test-border:1px solid red;
    --header-bg-color:#FFF8F3;
    --btn:#FD6E0A;
}
header{
    background-color:var(--header-bg-color) ;
    height: 100vh;
}
nav{
    /* border: var(--test-border); */
    display: flex;
    justify-content: space-around;
    height: 10%;
    margin-top: 50px;
    font-size: 20px;
    align-items: center;
}
ul{
    display: flex;
    align-items: center;
    gap:20px;
    
}
li{
    list-style: none;
}

.btn{
    padding: 18px 36px;
    background-color: var(--btn);
    border-radius: 10px;
    border: 0;
    color: white;
    font-weight: 700;
    font-size: 20px;
}





